[submodule "files/docker-openvpn"]
	path = files/docker-openvpn
	url = https://github.com/kylemanna/docker-openvpn
[submodule "files/motioneye"]
	path = files/motioneye
	url = https://github.com/ccrisan/motioneye.git
