FROM {{ item.value.build_params.base_image[ansible_architecture] }}
RUN apt update;\
    apt install -y transmission-daemon


EXPOSE 51413
EXPOSE 9091

{% if item.value.build_params.has_key('vpn') and item.value.build_params.vpn == True %}
RUN echo "resolvconf resolvconf/linkify-resolvconf boolean false" | debconf-set-selections
RUN apt install -y openvpn resolvconf iptables
COPY run_{{ item.key }}_with_vpn.sh /bin/run_{{ item.key }}_with_vpn.sh
ENTRYPOINT run_{{ item.key }}_with_vpn.sh

{% else %}
ENTRYPOINT {{ item.value.build_params.command }}
{% endif %}
